*
!*/
!config.h/*
!dunst/*
!environment.d/*
!git/*
!kitty/*
!MediaHuman/YouTube to MP3.conf
!mpd/mpd.conf
!mpv/**
mpv/watch_later
!ncmpcpp/bindings
!ncmpcpp/config
!neofetch/*
nvim/*
!nvim/init.vim
!nvim/script.lua
!pulse/daemon.conf
!qt5ct/qt5ct.conf
!qutebrowser/**
qutebrowser/bookmarks
qutebrowser/autoconfig.yml
qutebrowser/qsettings
qutebrowser/jblock
!ranger/**
__pycache__/
ranger/plugins/__init__.py
!root/**
!X11/*
!zathura/*
!zsh/*
zsh/.zcompdump
!artha.conf
!artha.log
!picom.conf
!ripgreprc
!user-dirs.dirs
!user-dirs.locale
!.gitignore

