__pycache__/
/btop/
/byobu/
/dconf/
/discord/
/enchant/
/github-copilot/
/gtk-3.0/
/htop/
/ipython/
/matplotlib/
/mpd/
!mpd.conf
/mpd/watch_later
/ncmpcpp/error.log
/nvim/
!/nvim/init.vim
!/nvim/script.lua
/Popcorn-Time/
/procps/
/pulse/
!pulse/daemon.conf
/qt5ct/
!qt5ct/qt5ct.conf
/qutebrowser/bookmarks/
/qutebrowser/greasemonkey/
/qutebrowser/qsettings/
/qutebrowser/autoconfig.yml
/rofi/
/spotify/
/transmission/
/zsh/.zcompdump
MediaHuman.conf
pavucontrol.ini
QtProject.conf
