*
!*/
!anacrontab
!config.h/**
!dunst/*
!environment.d/*
!git/*
!kitty/*
!mpd/mpd.conf
!mpv/**
mpv/watch_later/
mpv/scripts/
!ncmpcpp/bindings
!ncmpcpp/config
!neofetch/*
!nvim/**
nvim/spell
nvim/.netrwhist
!pulse/daemon.conf
!qutebrowser/config.py
!qutebrowser/*.qss
!qutebrowser/quickmarks
!ranger/**
__pycache__/
ranger/plugins/__init__.py
!root/**
!X11/**
!yay/config.json
!zathura/*
!zsh/*
zsh/.zcompdump
!artha.conf
!artha.log
!ripgreprc
!user-dirs.dirs
!user-dirs.locale
!yt-dlp/config
!mimeapps.list
!.gitignore

