*/5 * * * * "$HOME"/.local/bin/scripts/bat_alert.sh
# */10 * * * * /home/vn36/.local/bin/scripts/bat_log.sh
* */1 * * * anacron -t "$HOME"/.local/etc/anacrontab -S "$HOME"/.local/var/spool/anacron
*/5 * * * * "$HOME"/.local/bin/scripts/event

